* {
    box-sizing: border-box;
}

h2 {
    color: gray;
}

.photo {
    float: left;
    margin-right: 10px;
}

.nav-list {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-list li {
    padding-right: 20px;
}

.nav-link {
    line-height: 50px;
    text-decoration: none;
}

.nav-link:hover {
    cursor: pointer;
}